<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    
    <script>
        $(function () {
            $("#btn").click(function () {
                //发送Ajax请求
                $.get("/shop/getTop5",function (data) {
                    //若Controller直接返回的是Object，data就可以直接遍历
/*                    $.each(data,function () {
                        alert(this.priority + this.areaName)
                    })*/
                    //若Controller返回的是Map，data.key就可以直接遍历
                    var xData = new Array();
                    var yData = new Array();
                    $.each(data.shops,function () {
                        //alert(this.priority + this.areaName)
                        //向数组中添加数据
                        xData.push(this.shopName)
                        yData.push(this.priority)
                    })

                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: 'ECharts 查询后台数据'
                        },
                        tooltip: {},
                        legend: {
                            data:['权重排名前5']
                        },
                        xAxis: {
                            //js的数组
                          //  data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                            data: xData
                        },
                        yAxis: {
                            min: 10
                        },
                        series: [{
                            name: '权重',
                            type: 'bar',
                         //   data: [5, 20, 36, 10, 10, 20]
                            data: yData
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                })
            });
        })
        $(function () {
            $("#btn2").click(function () {
                //发送Ajax请求
                $.get("/shop/getDistribution",function (data) {
                    //若Controller直接返回的是Object，data就可以直接遍历
                    /*                    $.each(data,function () {
                                            alert(this.priority + this.areaName)
                                        })*/
                    //若Controller返回的是Map，data.key就可以直接遍历
                    var Data = new Array();
                    $.each(data.areas2,function () {
                        //alert(this.priority + this.areaName)
                        //向数组中添加数据
                        Data.push({value:this.countNumber, name:this.areaName})
                    })

                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main2'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: 'ECharts 查询后台数据',
                            x:'center'
                        },
                        tooltip: {trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient : 'vertical',
                            x : 'left',
                            data:['店家的地区分布']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {
                                    show: true,
                                    type: ['pie', 'funnel'],
                                    option: {
                                        funnel: {
                                            x: '25%',
                                            width: '50%',
                                            funnelAlign: 'left',
                                            max: 1548
                                        }
                                    }
                                },
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        series : [
                            {
                                name:'店家地区分布统计',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data: Data
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                })
            });
        })
    </script>
</head>
<body>
    <p><button type="button" class="btn btn-success" id="btn">权重占比</button></p>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <hr/>
    <p><button type="button" class="btn btn-success" id="btn2">店家地区分布</button></p>
    <div id="main2" style="width: 600px;height:400px;"></div>
</body>
</html>


