<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css?t=1560414887305" media="all">-->
    <link th:href="@{/css/layui.css}" rel="stylesheet" type="text/css" /> <!--media="all"-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        body{margin: 10px;}
    </style>
</head>
<body>
<div class="col-md-12">
    <div class="page-header">
        <h1  class="alert alert-primary" role="alert">
            校园O2O平台
        </h1>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">回到主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">修改店铺信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shop/statistics">统计模块</a>
        </li>
    </ul>
    <h3 class="text-center text-primary">
        本店商品清单
    </h3>
</div>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <div class="layui-tab-item">
            <div id="pageDemo"></div>
        </div>
    </div>
</div>
<!--<script src="//res.layui.com/layui/dist/layui.js?t=1560414887305"></script>-->
<script>
   /* layui.config({
        version: '1560414887305' //为了更新 js 缓存，可忽略
    });*/

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            // ,carousel = layui.carousel //轮播
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            // ,slider = layui.slider //滑块

        //向世界问个好
        // layer.msg('Hello World');

        //监听Tab切换
        element.on('tab(demo)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });
        //执行一个 table 实例
        table.render({
            elem: '#demo'
            // ,even: true //开启隔行背景
            // ,height: 950
            ,url:'/shop/productList.json'
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,page: true //开启分页
            // ,totalRow: true //开启合计行
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'productId', title:'商品ID', width:80, fixed: 'left', unresize: true, sort: true}
                    ,{field:'productName', title:'商品名', width:120, edit: 'text'}
                    ,{field:'productDesc', title:'商品描述', width:300, edit: 'text'}
                    ,{field:'normalPrice', title:'正常价格', width:100, edit: 'text', sort: true}
                    ,{field:'promotionPrice', title:'优惠价格', width:100,edit: 'text', sort: true}
                    ,{field:'priority', title:'权重',width:80,edit: 'text', sort: true}
                    ,{field:'createTime', title:'创建时间', width:300, sort: true}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:300}
                ]
            ]
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            ,count: 10 //总页数
            ,skin: '#1E9FFF' //自定义选中色值
            //,skip: true //开启跳页
            ,jump: function(obj, first){
                if(!first){
                    layer.msg('第'+ obj.curr +'页', {offset: 'b'});
                }
            }
        });
        //底部信息
        // var footerTpl = lay('#footer')[0].innerHTML;
        // lay('#footer').html(layui.laytpl(footerTpl).render({}))
        //     .removeClass('layui-hide');
    });
</script>

</body>
</html>